body{
	background-color: #f3eeea;
}

h1{
	color: #4494aa;
	text-align: center;
}

h4{
	font-weight: bold;
}

h5, h4{
	text-align: center;
	color: #da4d2f;
}

label, li{
	color:#e77e6d;
}

li{
	list-style: none;
	font-size: 2rem;
	margin-bottom: 1rem;
}

input{
	margin-bottom: 1rem;
}

.credit-card-information, .checkout-information{
	display: none;
}