@font-face {
    font-family: starjhol; 
    src: url('fonts/Starjhol.ttf'); /*URL to font*/
}

@font-face {
    font-family: starjedi; 
    src: url('fonts/Starjedi.ttf'); /*URL to font*/
}

body{
	text-align: center;   
}

h1{
	margin-top: 0;
}

body, input{
	background-color: black;
	background-image: url('../img/background.jpg');
}

h1,h3{
	font-family: starjhol;
}

h2,label,input{
	font-family: starjedi;
}

h1,h2,h3,label,input, btn btn-primary{
	color: #ffe81e;
}